:root {
    --violet: #5536A2;
}

.app {
    background-color: white;
}

.term {
    overflow: hidden;
    background: linear-gradient(to top right, #8611EA 15%, var(--violet) 52%);
}

.term__text {
    width: 440px !important;
    margin-top: 50px !important;
    margin-left: 150px;
    margin-right: 133px;
}

.term__text h2 {
    font-size: 60px;
}

.term__text--explain {
    color: rgba(225, 225, 225, 0.8);
    font-size: 17px;
    line-height: 29px;
}

.term__image {
    margin-bottom: 100px;
    width: 600px !important;
}

.term__image img {
    border-radius: 40px 0 0 40px;
}

/* feature */
.feature__header {
    margin-left: 130px !important;
}

.feature__item {
    margin: auto 130px;
}

.feature__item--sub {
    background-color: #F4EBFF;
    border-radius: 10px;
}

.feature__item--sub div h6 {
    color: indigo;
    margin-bottom: 20px;
    margin-top: 5px;
}

.feature__item--sub div p {
    font-size: 16px;
    color: rgb(105 65 198);
}

/* contactInfo */
.contactInfo {
    margin-top: 100px !important;
}

.contactInfo__header {
    margin-left: 130px !important;
}

.contactInfo__body {
    margin: auto 130px;
}

.contactInfo__item {
    background-color: #F4EBFF;
    border-radius: 10px;
}

.contactInfo__item--header {
    width: 100px;
    height: 100px;
    position: relative;
}

.contactInfo__item--header i {
    font-size: 20px;
    color: white;
    background-color: #9E77ED;
    border-radius: 24%;
    padding: 15px;
    position: absolute;
    top: 15%;
    left: 20px;
}

.contactInfo__item--main {
    margin-left: 20px;
    color: rgb(81, 11, 148);
    font-size: 16px;
}

.contactInfo__item--footer {
    color: #6941C6;
    margin-left: 20px;
}