.footer {
    background-color: #1d0136 !important;
}

.footer-head img {
    width: 100px;
    height: 50px;
    margin-top: 20px;
}

.footer-head-button {
    width: 200px;
    height: 50px;
    background-color: blueviolet;
    border: none;
    margin-right: 100px;
    margin-top: 20px;
}

.footer-link {
    position: relative;
}

.footer-link-up1 {
    position: absolute;
    top: 1%;
    left: 70%;
}

.footer-link-up2 {
    position: absolute;
    top: 35%;
    left: 70%;
}

.download-app {
    flex-direction: row;
    margin-left: -10px;
    margin-top: -20px;
}

.download-app button {
    background-color: transparent;
    border: none;
}

.schedule p {
    white-space: pre-line;
}

.separate {
    margin-top: 100px;
    height: 0.3px;
    width: 90%;
    background-color: rgba(255, 251, 246, 0.5);
    margin: 0 auto;
}